#cameraControls {
    display: flex;
    justify-content: space-between;
    width: 14vw;
    position: absolute;
    right: 4vw;
    bottom: 3vw;
    padding-top: 5vw;
    /* put this in 3D space so it honors z-indexes against the board */
    transform: translate3d(0, 0, 0);
    transition: opacity 500ms 500ms, transform 500ms 500ms;
}

#cameraControls a {
    width: 4vw;
    height: 4vw;
    line-height: 3.9vw;
    text-align: center;
    border-radius: 50%;
    background: #337933 radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.333));
    font-size: 2vw;
}

#camUp {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -2vw;
    transform: rotate(90deg);
}

#camDefault {
    transform: rotate(-90deg);
}

.checkerSelect #cameraControls {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
}
