#counts {
    position: absolute;
    left: 50%;
    bottom: 4vh;
    display: flex;
    width: 38vh;
    height: 8vh;
    line-height: 8vh;
    margin-left: -18vh;
    xfont-size: 3vw;
    padding: 0 4vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    border-radius: 1vh;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 500ms 500ms, transform 500ms 500ms;
}

.countsText {
    flex-basis: 1;
}

.allies {
    text-align: right;
}

.separator {
    border-left: 1px solid #fff;
}

#allyCount,
#hostileCount {
    flex-basis: 2;
    padding: 0 2vh;
}

#allyCount {
    padding-right: 3vh;
}

#hostileCount {
    text-align: right;
    padding-left: 3vh;
}

.checkerSelect #counts {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
}
