#status {
    position: absolute;
    right: 4vh;
    bottom: 7.5vh;
    margin: 0;
    padding-right: 9vh;
    font-weight: bold;
    text-align: right;
    color: #393939;
    opacity: 0;
    transform: translate3d(100%, 0, 1000px);
    transition: opacity 400ms, transform 400ms ease-in-out, color 300ms;
    z-index: 10;
}

#status::after {
    content: '!';
    display: block;
    width: 6vh;
    height: 6vh;
    line-height: 6vh;
    font-size: 4vh;
    text-align: center;
    border-radius: 50%;
    background: #94850a;
    color: #fff !important; /* don't let this fade */
    text-shadow: 0 0.1vh 0.1vh black;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3vh;
}

#status.show {
    transition-delay: 300ms, 300ms;
    opacity: 1;
    transform: translate3d(0, 0, 1000px);
}

#status.fadeText {
    color: transparent;
}
