.checker {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: block;
    transition: opacity 450ms, transform 450ms ease-in-out 180ms, background-color 270ms;
    border-radius: 50%;
    background-color: #494949;
    background-image: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.333));
}

.king {
    border: 1vh solid #ea0;
    margin-top: 0.3vh !important; /* @todo fix this in checker.js */
}

.hostile {
    background-color: #933;
}

.suppressTrans {
    transition: none;
}

.checkerSelect .checker {
    opacity: 0.25;
}

.checkerSelect .playableChecker {
    opacity: 1;
    cursor: pointer;
    transition: background-color 270ms;
}

.checkerSelect .playableChecker:hover {
    background-color: #393;
}
