
.notice {
    display: inline-block;
    width: auto;
    height: 8vh;
    line-height: 8vh;
    border-radius: 1vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    position: absolute;
    left: 4vh;
    top: 4vh;
    padding: 0 4vh;
    opacity: 0;
    z-index: -100;
    transform: translate3d(-10vh, 0, 0);
    transition: opacity 360ms, transform 360ms ease-in-out, z-index 0ms 370ms;
}

.noAvailableMoves #noAvailableMoves,
.checkerSelect #checkerSelect {
    opacity: 1;
    z-index: 50;
    transform: translate3d(0, 0, 0);
    transition: opacity 360ms 10ms, transform 360ms ease-in-out 10ms, z-index 0ms;
}
