p { margin: 0; }

.titleText {
    font-size: 1.666em;
}

.subtitleText {
    font-weight: bold;
    text-transform: uppercase;
}

.labelText {
    font-size: 1.25vh;
    text-transform: uppercase;
}
